.container{
    height: 100vh;
}
.nav{
    height: 10vh;
    background-color:#419488;
    color: white;
    font-weight: 500;
    font-size: 40px;
    padding: 20px 0 0 20px;
}
.content{
    display: flex;
    flex-flow: row wrap;
}
.card{
    width: 30%;
    height: 50%;
    margin: 20px;

    border: 2px solid #DBDBDB;
}
img{
   width: 100%; 
}
p{
    margin-top: 10px;
    padding-left: 20px;
    font-size: larger;
    font-weight: 600;
}